filebeat.inputs:
  - type: container
    paths:
     - '/var/lib/docker/containers/*/*.log'
    fields:
      application: tomcat
    
    json.keys_under_root: true
    json.add_error_key: true
    json.message_key: log

# ------------------------------ Logstash Output -------------------------------
output.logstash:
  hosts: ["74.234.143.176:5044"]

# ================================= Processors =================================
processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
